/* .dashboard-button {
  outline: none;
  cursor: pointer;
  height: 30px;
  background-color: rgba(241, 239, 239, 0.918);
  border: none;
  border-top-width: 50%;
  margin-bottom: 20px;
  color: black;
  font-size: 15px;
  text-align: center;
}

.dashboard-button:hover {
  background-color: #7fcfa9;
}

.dashboard-button:before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 18px;
  width: 80%;
  border-top: 1px solid black;
}

.help-button {
  outline: none;
  cursor: pointer;
  height: 30px;
  background-color: rgba(241, 239, 239, 0.918);
  border: none;
  border-top-width: 50%;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.help-button:before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 18px;
  width: 80%;
  border-top: 1px solid white;
}

.dashboard-button:after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 80%;
  border-bottom: 1px solid white;
}

.sidebar-button {
  text-align: center;
  outline: none;
  cursor: pointer;
  height: 30px;
  background-color: rgba(241, 239, 239, 0.918);
  border: none;
  border-top-width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
  color: black;
  font-size: 15px;
  font-weight: 530;
}

.sidebar-button:hover {
  background-color: #7fcfa9;
} */
