/*
 * Authentication
 */

.auth {
  padding-top: 10vh;
}
.form {
  width: 40%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.login_button {
  background-color: var(--schedulsaur_green);
  right: 5%;
  margin-left: 20px;
  color: white;
}

.login_button:hover {
  background-color: var(--schedulsaur_green);
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.signup_button {
  background-color: white;
  color: var(--schedulsaur_green);
}

.signup_button:hover {
  background-color: white;
  box-shadow: 4px 5px 4px var(--middle_grey);
}
