/*
 * Authentication CSS Module
 */

.main_container{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form_container{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button_container{
  display: flex;
  justify-content: center;
}

.login_button {
  background-color: var(--schedulsaur_green);
  color: white;
  margin: 3%;
  height: 25px;
  line-height: 25px;
}

.login_button:hover {
  background-color: var(--schedulsaur_green);
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.signup_button {
  background-color: white;
  color: var(--schedulsaur_green);
  margin: 3%;
  height: 25px;
  line-height: 25px;
}

.signup_button:hover {
  background-color: white;
  box-shadow: 4px 5px 4px var(--middle_grey);
}
