/*
 * Dashboard CSS
 */

.dashboard_Wheels {
    padding-top: 2%;
}

.dashboard_text {
    padding-top: 1%;
    font-size: 20px;
    font-weight: normal;
}

.progress_wheel {
  margin-top:1%;
  vertical-align: middle;
}

.bottom_section {
  margin-top: 5%;
}

.info_section {
  margin-top: 2%;
}

.desc {
  margin-top: 0;
  margin-bottom: 12%;
}