.course {
  height: 50px;
  background-color: rgba(255, 254, 254, 0.795);
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}

.messageHover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.leftSection {
  width: 57px;
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkBox {
  padding: 20px;
  margin-top: 15px;
}

.checkBox[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  position: absolute !important;
}

.midSection {
  margin-top: 12px;
}