.course-history {
  display: flex;
  flex-direction: row;
}

.major {
  margin-left: 3px;
  margin-top: -30px;
  width: 450px;
}

.support {
  margin-top: -30px;
  margin-left: -40px;
}

.ge {
  margin-top: -30px;
  margin-left: 10px;
}

.button {
  width: 190px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  bottom: 1%;
  text-align: center;
  vertical-align: middle;
  float: right;
  margin-right: 13px;
  margin-top: -15px;
}

.button-green {
  width: 190px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  bottom: 1%;
  text-align: center;
  vertical-align: middle;
  float: right;
  margin-right: 13px;
  margin-top: -15px;
  background-color: #5ea181;
}

#button_left {
  background-color: #fff;
  border-color: var(--dark_grey);
  color: var(--schedulsaur_green);
}

#button_left a {
  color: #5ea181;
  display: block;
}

#button_right {
  background-color: var(--schedulsaur_green);
  border-color: var(--schedulsaur_green);
  right: 5%;
  margin: 20px;
  color: #5ea181;
}

#button_right a {
  color: #fff;
  display: block;
}
