/*
 * ScheduleExpand CSS
 */

.layout {
  box-sizing: unset;
  display: grid;
  grid-template-columns: 35% auto;
  padding-bottom: 2%;
}

.image{
  margin-top: 5%;
}


.tb {
  border-collapse:collapse;
  table-layout: fixed;
}

.smallTable td{
  font-size: .5rem;
  pointer-events: none;
  padding: 1%;
  text-align: right;
  border-color: #ccc;
}

.smallTable .table_tr{
  font-size: .8rem;
  pointer-events: none;
  padding:15px;
}