/*
 * ScheduleExpand CSS Module
 */

.layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image{
  width: 35%;
}

.smallTable {
  border-collapse:collapse;
  table-layout: fixed;
  width: 60%;
}

.smallTable td{
  font-size: .5rem;
  pointer-events: none;
  padding: 1.1%;
  text-align: right;
  border-color: #ccc;
}

.smallTable div{
  font-size: 1vw;
}

.smallTable th{
  padding: 0;
}
