/*
 * Schedule CSS
 */

.sched_table {
    margin-top: 1%;
    border: solid 2px #ccc;
    margin-bottom: 1%;
}

.sched_header {
    border-bottom: solid 1px #ccc;
}

.sched_row {
  border:none;
  line-height:1px;
}

.sched_cell {
    text-align: center;
    font-size: 78%;
}

