* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --schedulsaur_green: #5ea181;
  --light_grey: #ececec;
  --middle_grey: #dddddd;
  --other_grey: #b0b0b0;
  --dark_grey: #8b8b8b;
  --major_class: #ffff99;
  --support_class: #ffcc99;
  --ge_class: #b3dfb3;
}

body{
  overflow: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

}

.title-container{
  display: flex;
  flex-flow: column;
  padding: 3%;
  margin: 3%;
}

.title {
  color: var(--schedulsaur_green);
  font-weight: bold;
  font-size: 400%;
  letter-spacing: 6px;
  margin: auto;
}

.title-description {
  position: relative;
  margin: auto;
  letter-spacing: 1px;
}

.main {
  margin-left: 190px;
  margin-top: 17px;
  width: 100%;
  padding: 0px 10px;
}

.header {
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--schedulsaur_green);
  overflow-y: hidden;
}

.logo {
  position: absolute;
  height: 70px;
  margin-left: 20px;
  padding-top: 15px;
  color: white;
  font-size: 55px;
  font-weight: 420;

}

.app-body {
  position: relative;
  top: 73px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.sidebar {
  height: 100vh;
  width: 190px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: var(--schedulsaur_green);
  overflow-x: hidden;
  padding-top: 90px; /* 70 + 35 */
  display: flex;
  flex-direction: column;
}

.dashboard-button {
  outline: none;
  cursor: pointer;
  height: 30px;
  background-color: var(--schedulsaur_green);
  border: none;
  border-top-width: 50%;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
}

.dashboard-button:before{    
  content : "";
  display: block;
  margin: 0 auto;
  height: 18px;
  width: 80%;  /* or 100px */
  border-top:1px solid white;
} 

.dashboard-button:after{   
  content : "";
  display: block;
  margin: 0 auto;
  height: 18px;
  width: 80%;  /* or 100px */
  border-bottom:1px solid white;
} 

.sidebar-button {
  outline: none;
  cursor: pointer;
  height: 30px;
  background-color: var(--schedulsaur_green);
  border: none;
  border-top-width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  font-size: 15px;
  font-weight: 530;
}

.sidebar a {
  /* top right bottom left */
  padding: 0px 8px 35px 16px;
  text-decoration: none;
  color: #fff;
  display: block;
}

.subtitle {
  color: black;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 0;
}

.subsubtitle {
  color: black;
  font-size: 2.0vw;
  font-weight: 550;
}

.description{
  color: black;
  font-size: 1.1vw;
  margin-bottom: 15px;
  line-height: 1.2;
}

.green_button {
  width: 15vw;
  height: 25px;
  color: white;
  background-color: var(--schedulsaur_green);
  border: none;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.green_button:hover {
  background-color: var(--schedulsaur_green);
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.green_button:focus {
  background-color: var(--schedulsaur_green);
}

.white_button {
  width: 15vw;
  height: 25px;
  color: var(--schedulsaur_green);
  border: 2px solid var(--other_grey);
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.white_button:hover {
  background-color: white;
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.white_button:focus {
  background-color: white;
}

.list-button-green {
  height: 85%;
  width: 100px;
  background-color: var(--schedulsaur_green);
  border-color: var(--schedulsaur_green);
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 3px;
}

.list-button-green:focus{
  background-color: var(--schedulsaur_green);
  border:none;
}

.list-button-green:hover {
  background-color: var(--schedulsaur_green);
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.list-button-white {
  width: 80px;
  margin-right: 1%;
  background-color: white;
  border: solid 1px var(--other_grey);
  color: var(--schedulsaur_green);
  text-align: center;
  cursor: pointer;
}

.list-button-white:focus{
  border: solid 1px var(--other_grey);
  background-color: white;
}

.list-button-white:hover {
  background-color: white;
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 10%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  z-index: 1;
  background-color: var(--schedulsaur_green);
}

.scrollable:hover{
  overflow-y: overlay;
}

.nonscrollable:hover{
  overflow: hidden;
}

input {
  color: var(--dark_grey)
}

input:focus {
  color: black;
  border-bottom-color: var(--schedulsaur_green) !important;
  box-shadow: 0 1px 0 0 var(--schedulsaur_green) !important;
}

@media only screen and (max-width: 1240px){

  .title{
    font-size: 350%;
  }

  .title-description{
    font-size: 150%;
  }

  .subtitle {
    font-size: 30px;
  }

  .green_button {
    height: 22px;
  }
  .white_button {
    height: 22px;
  }

  h6{
    font-size: 80%;
  }
}

