/*
 * TimeName CSS Module
 */

.slot_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2vw;
}

.time_name {
    font-size: 1.7vw;
    font-weight: 600;
    cursor: text;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.button_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2vw;
}

