/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp thank u w3schools */

.all {
    /* TO USE: do var(--name_of_variable) */
    --schedulsaur_green: #5ea181;
    --light_grey: #ececec;
    --middle_grey: #dddddd;
    --dark_grey: #8b8b8b;
    --major_class: #ffff99;
    --support_class: #ffcc99;
    --ge_class: #b3dfb3;
    width: 100%;
    height: 100%;

}

.header {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--schedulsaur_green);
    overflow-y: hidden;
}

/*
I think  using a div will work better for logo text styles

.header p {
    padding: 0px 8px 35px 16px;
    // text-decoration to be updated at some point? 
    text-decoration: none;
    color: #fff;
    display: block;
} */

.logo {
    position: absolute;
    height: 70px;
    margin-left: 20px;
    padding-top: 15px;
    color: white;
    font-size: 55px;
    font-weight: 420;

}

.app-body {
    position: relative;
    top: 73px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    
}

.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: var(--schedulsaur_green);
    overflow-x: hidden;
    padding-top: 90px; /* 70 + 35 */

    display: flex;
    flex-direction: column;
}

.dashboard-button {
    outline: none;
    cursor: pointer;
    height: 30px;
    background-color: var(--schedulsaur_green);
    border: none;
    border-top-width: 50%;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;


}

.dashboard-button:before{    content : "";
    display: block;
    margin: 0 auto;
    height: 18px;
    width: 80%;  /* or 100px */
    border-top:1px solid white;
} 

.dashboard-button:after{   
    content : "";
    display: block;
    margin: 0 auto;
    height: 18px;
    width: 80%;  /* or 100px */
    border-bottom:1px solid white;
} 

.sidebar-button {
    outline: none;
    cursor: pointer;
    height: 30px;
    background-color: var(--schedulsaur_green);
    border: none;
    border-top-width: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 15px;
    font-weight: 530;
}

.sidebar a {
    /* top right bottom left */
    padding: 0px 8px 35px 16px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.button {
    width: 190px;
    height: 30px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    bottom: 30px;
    text-align: center;
    vertical-align: middle;
}

#button_left {
    background-color: #fff;
    border-color: var(--dark_grey);
    right: 250px;
}

#button_left a {
    color: #5ea181;
    display: block;
}

#button_right {
    background-color: var(--schedulsaur_green);
    border-color: var(--schedulsaur_green);
    right: 35px;
}

#button_right a {
    color: #fff;
    display: block;
}

.main {
    margin-left: 190px;
    margin-top: 17px;
    width: 100%;
    padding: 0px 10px;
} 

