/*
 * SavedTimes CSS Module
 */

.time_ul {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.time_ul:hover{
    overflow-y: overlay;
}

.time_li {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.time_li:last-child {
    border-bottom: none;
    margin-bottom: 3px;
}

.time_li:nth-child(even) {
    background: #f8f8f8;
}