/*
 * TimeName CSS
 */

.slot {
    display: grid;
    grid-template-columns: 1fr auto;
}

.time_name {
    vertical-align: middle;
    font-size: 150%;
    font-weight: 600;
}

.button_collection {
    vertical-align: 'middle';
    width: 120px;
    height: 30px;
    background-color: var(--schedulsaur_green);
    border-color: var(--schedulsaur_green);
    color: white;
    font-size: 120%;
    text-align: center;
}

.button_collection:focus{
    background-color: var(--schedulsaur_green);
    border:none;
}

.button_collection:hover {
  background-color: var(--schedulsaur_green);
  box-shadow: 4px 5px 4px var(--middle_grey);
}

.button_collection_edit {
    vertical-align: 'middle';
    width: 80px;
    height: 25px;
    font-size: 100%;
    background-color: white;
    border: solid 1px var(--dark_grey);
    color: var(--schedulsaur_green);
    text-align: center;
}

.button_collection_edit:focus{
    border: solid 1px var(--dark_grey);
    background-color: white;
    border: solid 1px var(--dark_grey);
}

.button_collection_edit:hover {
    background-color: white;
    box-shadow: 4px 5px 4px var(--middle_grey);
}