/*
 * Dropdown CSS Module
 */

.dropdown_content {
  display: block;
  background-color: var(--light_grey);
  margin:0;
  padding:0; 
  width: 85%;
  font-size: 1.5vw;
  color: var(--dark_grey);
  text-align:left;
  border-top: solid 2px var(--schedulsaur_green);
  cursor: pointer;
}

.dropdown_content li:hover {
  color: var(--schedulsaur_green)
}

.dropdown .drop {
  margin: auto;
  width: 85%;
  text-align: left;
  margin-top:3%;
  color: var(--dark_grey);
  background-color: var(--light_grey);
  font-size: 1.8vw;
  padding-left: 5%;
  cursor: pointer;
}
