/*
 * Dropdown
 */

.dropdown-cont {
  display: block;
  background-color: var(--light_grey);
  margin:0;
  padding:0; 
  width: 70%;
  font-size:120%;
  color: var(--dark_grey);
  text-align:left;
  border-top: solid 2px var(--schedulsaur_green)
}

.dropdown-cont li:hover {
  color: var(--schedulsaur_green)
}

.dropdown .drop {
  margin: auto;
  width: 70%;
  text-align: left;
  margin-top:3%;
  color: var(--dark_grey);
  background-color: var(--light_grey);
  font-size: 140%;
  padding-left: 5%;
}
