/*
 * ScheduleList CSS
 */

.li {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}

.ul {
  top: 150px;
  bottom: 100px;
  height: 70vh;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0px;
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-overflow-scrolling: touch;
}

.ul:hover{
  overflow-y: overlay;
}

.sched_name {
    vertical-align: middle;
    font-size: 130%;
    font-weight: 600;
}

.sched_entry {
    display: grid;
    grid-template-columns: 6fr 1fr auto;
}

.sched_check {
    vertical-align: middle;
}

.box-green[type="checkbox"]+span:not(.lever):before, 
 [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: solid 2px var(--dark_grey);
  background-color: white;
}

.box-green[type="checkbox"]:checked+span:not(.lever):before{
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--schedulsaur_green);
  border-right-color: var(--schedulsaur_green);
}

.button_collection {
    vertical-align: 'middle';
    width: 120px;
    height: 30px;
    background-color: var(--schedulsaur_green);
    border-color: var(--schedulsaur_green);
    color: white;
    font-size: 120%;
    text-align: center;
}

.button_collection:focus{
    background-color: var(--schedulsaur_green);
    border:none;
}

.button_collection:hover {
  background-color: var(--schedulsaur_green);
  box-shadow: 4px 5px 4px var(--middle_grey);
}
