/*
 * ScheduleExpand CSS
 */

.layout {
  display: grid;
  grid-template-columns: 40% auto;
  padding-bottom: 2%;
}

.image {
  margin-top: 5%;
}

.tb {
  border-collapse:collapse;
  table-layout: fixed;
}

.smallTable td{
  font-size: .8rem;
  pointer-events: none;
  padding: 1%;
  text-align: right;
}

.smallTable .table_tr{
  font-size: .8rem;
  pointer-events: none;
  padding:15px;
}