/*
 * Dashboard CSS Module
 */

.main_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
  width: 100%;
}

.prog_container{
  display: flex;
  align-items: center;
  height: 30vw;
}

.main_wheel{
  display: flex;
  align-items: center;  
  font-size: 2.8vw;
  width: 55%;
  height: 30vw;
}

.sub_wheel{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  width: 40%;
  height: 25vw;
}

.wheel{
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.wheel_text{
  fill: #8b8b8b;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.student_container{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 30vw;
  width: 40%;
}

.info_container{
  width: 90%;
  overflow: auto;
}

.info div:nth-child(1){
  margin-top: 14%;
}

.info div:nth-child(3){
  margin-bottom: 14%;
}

.text {
  padding-top: 1%;
  font-size: 1.7vw;
  font-weight: normal;
}

.bottom_container{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 10vh;
  width: 100%;
}

.button_container{
  display: flex;
  justify-content: flex-start;
  width: 35%;
}

@media only screen and (max-width: 1240px){

  .main-wheel-container{
    width: 50%;
  }

  .student-container{
    width: 50%;
  }

  .info h5:nth-child(1){
    margin-top: 7%;
  }

  .info h5:nth-child(3){
    margin-bottom: 7%;
  }
}

