/*
 * Dashboard CSS
 */

.dash {
  margin-top: 2%;
  margin-bottom: 0;
}

.dashboard_Wheels {
    padding-top: 2%;
}

.dashboard_text {
    padding-top: 1%;
    font-size: 23px;
    font-weight: normal;
}

.progress_wheel {
  margin-top:1%;
  vertical-align: middle;
}

.bottom_section {
  margin-top: 5%;
}

.info_section {
  margin-top: 1%;
}

.row .col.s3.offset-s2 {
  width: 28%;
  margin-left: 12%;
}

.desc {
  margin-top: 0;
  margin-bottom: 12%;
}

.row .col.s4.offset-s8 {
  margin-left: 62%;
}
